@import "../../../config/config.scss";

.searchBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.input {
  width: 100%;
  height: spacing(5.3);
  background-color: $light;
  border: spacing(0.05);
  border-radius: spacing(36);
  font-size: spacing(1.8);
  padding-left: spacing(1);
}
.icon {
  position: absolute;
  right: 1%;
  z-index: 1000;
}
.submitButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* Responsive */
@media screen and (max-width: 1330px) {
  .searchBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .input {
    width: 100%;
    height: spacing(4.5);
    background-color: $light;
    border: spacing(0.05);
    border-radius: spacing(36);
    font-size: spacing(1.5);
    padding-left: spacing(1);
  }
  .icon {
    position: absolute;
    cursor: pointer;
  }
}
/* End of responsive */
