@import "../../../config/config.scss";

.imageList {
  width: spacing(25);
  height: spacing(30);
  border-radius: spacing(1);
  cursor: pointer;
  position: relative;
  &:hover .imageLayer {
    width: 100%;
    height: 100%;
  }
  &:hover .imageTitle {
    visibility: visible;
  }
  &:hover .imageContent {
    visibility: visible;
  }
}
.imageLayer {
  width: 0;
  height: 0;
  display: none;
  background: linear-gradient(
    180deg,
    rgb(70, 70, 70, 1) 9%,
    transparent 19%,
    transparent 75%,
    rgba(70, 70, 70, 1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: spacing(1);
  z-index: 1000;
}

.imageTitle {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: spacing(1) 0 0 spacing(1);
}
.imageText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: spacing(1);
  & .name {
    @include Text($textWhite, $h6, $fwRegular, none);
  }
  & .date {
    @include Text($textLightGrey, spacing(1.2), $fwRegular, none);
  }
}
.imageContent {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 spacing(1) 0 spacing(1);
}
.imageLike {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:first-child{
    margin-right: spacing(1);
    @include Text($textWhite, $h4, $fwRegular, none);
  }
}
/* Responsive */
@media screen and (max-width: 980px) {
  .imageList {
    width: spacing(20);
    height: spacing(35);
  }
}

@media screen and (max-width: 768px) {
  .imageList {
    width: spacing(18);
    height: spacing(33);
  }
}

@media screen and (max-width: 576px) {
  .imageList {
    width: spacing(15);
    height: spacing(20);
  }
}

@media screen and (max-width: 450px) {
  .imageList {
    width: spacing(12);
    height: spacing(17);
  }
}

@media screen and (max-width: 380px) {
  .imageList {
    width: spacing(10);
    height: spacing(15);
  }
}
/* End of responsive */
