@import "../../../config/config.scss";

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: spacing(35);
  height: spacing(45);
  background-color: $paper;
  border: spacing(0.1) solid;
  border-radius: spacing(2);
}
